/*============================
            communs
============================*/

* {
    box-sizing: border-box;
}

body {
    background: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text {
    position: relative;
}

.fa {
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    .fa {
        font-size: 1.25em;
    }
}

a .fa:hover {
    color: #eb7b1a!important;
}

header a .vr:hover {
    color: #eb7b1a!important;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/*============================
         button
============================*/

.button {
    background-color: transparent;
    border: 0 none;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-size: 0.825em;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin: 10px;
    padding: 0.875em 1.42857em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    white-space: nowrap;
}

.button::after {
    background: #0f637d none repeat scroll 0 0;
    bottom: 0px;
    content: "";
    display: block;
    height: 1px;
    left: 50.5%;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 80%;
}

.button span {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}

.button span::before,
.button span::after {
    background: #0f637d none repeat scroll 0 0;
    content: "";
    display: block;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.button span:first-child {
    height: 100%;
}

.button span:first-child::before,
.button span:first-child::after {
    bottom: 0;
    height: 100%;
    transform: scale3d(1, 0, 1);
    transform-origin: center bottom 0;
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
    width: 1px;
}

.button span:first-child::before {
    left: 0;
}

.button span:first-child::after {
    right: -1px;
}

.button span:last-child {
    height: 1px;
    width: 100%;
}

.button span:last-child::before,
.button span:last-child::after {
    bottom: 0;
    height: 1px;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}

.button span:last-child::before {
    left: 0;
    transform-origin: left bottom 0;
}

.button span:last-child::after {
    right: 0;
    transform-origin: right bottom 0;
}

.button:hover {
    color: #2e3233 !important;
    opacity: 1;
    outline: 0 none;
    text-decoration: none;
    transition: color 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.button:hover::after {
    background: #232f39 none repeat scroll 0 0;
    transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}

.button:hover span:first-child::before,
.button:hover span:first-child::after {
    background: #232f39 none repeat scroll 0 0;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
}

.button:hover span:last-child::before,
.button:hover span:last-child::after {
    background: #232f39 none repeat scroll 0 0;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s;
}

.button:focus {
    background: #232f39 none repeat scroll 0 0;
    color: white !important;
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.button:focus::after {
    opacity: 0;
}

.button.active {
    border-color: #000;
    color: #000 !important;
}

.button.active:hover,
.button.active:focus {
    background: transparent none repeat scroll 0 0;
}

.button-container .button,
.button-container button,
.button-container input[type="submit"],
.button-container input[type="reset"],
.button-container input[type="button"] {
    margin-bottom: 10px;
}


/*============================
          header
============================*/

header nav {
    background: transparent;
    /* background: #7E9FBE; */
    /* box-shadow: 0px 2px 5px 0px rgba(230, 230, 230, 1); */
}

nav .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo img {
    width: 25px;
}

@media screen and (min-width: 768px) {
    .logo img {
        width: 50px;
    }
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

nav .container ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.socontact {
    display: flex;
}

.vr {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.vr:hover {
    text-decoration: none;
}

.navlogo .fa {
    color: black;
}

.contact {
    padding: .5em 1.5em;
    border-radius: 6px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition-property: background-color;
    /* Active la transition sur background-color */
    transition-duration: 1s;
    /* La transition dure 1s */
}


/* space */

.space {
    height: 150px;
}


/*============================
          hero
============================*/

.lotmob {
    width: 100%;
    margin: 0 auto;
}

.lotdesk {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .lotmob {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .lotdesk {
        display: none;
    }
}


/*============================
             main
============================*/

.model {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 1em 0 0 0 !important;
}

.tiltimg {
    border-radius: 8px;
    box-shadow: 10px 5px 15px;
    max-width: 40%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    section {
        margin: 2em 0;
    }
    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .tiltimg {
        margin: 0;
    }
    .model {
        margin-left: 3em;
        font-size: 4em;
    }
}


/*============================
          footer
============================*/

footer {
    padding-top: 20px;
    margin-top: 50px;
    /* box-shadow: 0px 2px 5px 5px rgba(230, 230, 230, 1); */
}

.footerlogo {
    max-width: 210px;
}

footer nav p {
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px 0 20px 0;
    margin: 0;
}

footer .fa {
    color: black;
}

footer nav .hr {
    margin: 10px auto;
    width: 190px;
    height: 1px;
    background-color: black;
}