/*============================
            communs
============================*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text {
    position: relative;
}

.fa {
    font-size: 1.25em;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/*============================
         button
============================*/

.button {
    background-color: transparent;
    border: 0 none;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin: 10px;
    padding: 0.875em 1.42857em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    white-space: nowrap;
}

.button::after {
    background: #0f637d none repeat scroll 0 0;
    bottom: 0px;
    content: "";
    display: block;
    height: 1px;
    left: 50.5%;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 80%;
}

.button span {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}

.button span::before,
.button span::after {
    background: #0f637d none repeat scroll 0 0;
    content: "";
    display: block;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.button span:first-child {
    height: 100%;
}

.button span:first-child::before,
.button span:first-child::after {
    bottom: 0;
    height: 100%;
    transform: scale3d(1, 0, 1);
    transform-origin: center bottom 0;
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
    width: 1px;
}

.button span:first-child::before {
    left: 0;
}

.button span:first-child::after {
    right: -1px;
}

.button span:last-child {
    height: 1px;
    width: 100%;
}

.button span:last-child::before,
.button span:last-child::after {
    bottom: 0;
    height: 1px;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}

.button span:last-child::before {
    left: 0;
    transform-origin: left bottom 0;
}

.button span:last-child::after {
    right: 0;
    transform-origin: right bottom 0;
}

.button:hover {
    color: #2e3233 !important;
    opacity: 1;
    outline: 0 none;
    text-decoration: none;
    transition: color 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.button:hover::after {
    background: #232f39 none repeat scroll 0 0;
    transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    width: 100%;
}

.button:hover span:first-child::before,
.button:hover span:first-child::after {
    background: #232f39 none repeat scroll 0 0;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
}

.button:hover span:last-child::before,
.button:hover span:last-child::after {
    background: #232f39 none repeat scroll 0 0;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, -webkit-transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s;
}

.button:focus {
    background: #232f39 none repeat scroll 0 0;
    color: white !important;
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.button:focus::after {
    opacity: 0;
}

.button.active {
    border-color: #000;
    color: #000 !important;
}

.button.active:hover,
.button.active:focus {
    background: transparent none repeat scroll 0 0;
}

.button-container .button,
.button-container button,
.button-container input[type="submit"],
.button-container input[type="reset"],
.button-container input[type="button"] {
    margin-bottom: 10px;
}


/*============================
          header
============================*/

header nav {
    background-color: white;
    /* box-shadow: 0px 2px 5px 0px rgba(230, 230, 230, 1); */
}

nav .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

nav .container ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.logo {
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo h1 {
    font-size: 1.5em;
    letter-spacing: 0.18em;
    text-align: center;
    padding: 1rem 0 0 1rem;
    font-weight: 100;
    margin-top: 0;
}

.socontact {
    display: flex;
}

.vr {
    color: black !important;
    font-weight: bold;
    text-decoration: none;
}

.navlogo .fa {
    color: black;
}

.contact {
    padding: .5em 1.5em;
    border-radius: 6px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition-property: background-color;
    /* Active la transition sur background-color */
    transition-duration: 1s;
    /* La transition dure 1s */
}


/*============================
          hero
============================*/

lottie-player {
    width: 1080px;
}


/*============================
          main
============================*/

section {
    text-align: center;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
}


/* domaines */

.domaines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    padding: 40px 0 40px 0;
}

.domaines .card {
    /* position: relative; */
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.domaines .card .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}

.domaines .card:hover .box {
    transform: rotatex(-180deg);
}

.domaines .card .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.domaines .card .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.domaines .card .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    border-radius: 6px;
}

.domaines .card .box .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #9c42f8, #01fefd);
    transform: translateZ(100px)rotateZ(180deg);
    border-radius: 4px;
    min-width: 350px;
}

.domaines .card .box .content h2 {
    color: white;
    margin-bottom: 5px;
}

.domaines .card .box .content p {
    color: #fff;
}


/* contact */

.contact-form {
    text-align: center;
}


/*============================
          footer
============================*/

footer {
    padding-top: 20px;
    margin-top: 50px;
    box-shadow: 0px 2px 5px 5px rgba(230, 230, 230, 1);
}

.footerlogo {
    max-width: 200px;
}

footer nav p {
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px 0 20px 0;
    margin: 0;
}

footer .fa {
    color: black;
}

footer nav .hr {
    margin: 10px auto;
    width: 190px;
    height: 1px;
    background-color: black;
}